.header {
  position: relative;
  height: 100vh;
  background-image: url('/assets/bg-header.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagen centrada */
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  object-position: center;
}

/* Logo */
.logo-top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 130px;
  z-index: 10;
  transition: transform 0.3s ease;
}

.logo-top-left:hover {
  transform: scale(1.05);
}

/* Overlay de texto */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  z-index: 2;
  text-align: center;
  color: white;
  padding: 30px;
  max-width: 90%;
  width: 600px;
  opacity: 0;
  animation: fadeInOverlay 1.2s ease-out forwards;
  font-family: 'Cormorant Garamond', serif;

}


.titulo {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', serif;
}

.descripcion {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  line-height: 1.6;
  max-width: 80%;
  margin: 0 auto;
  font-family: 'Cormorant Garamond', serif;
}

/* Redes sociales */
.social-icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row; /* distribución horizontal */
  gap: 20px;
  z-index: 10;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInIcons 0.3s ease-out 0.3s forwards;
}

.icono-red {
  width: 60px;
  height: 60px;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.icono-red:hover {
  transform: scale(1.1) rotate(2deg);
}

/* Responsivo */
@media (max-width: 768px) {
  .header {
    background-image: url('/assets/bg-mobile.png');
  }

  .logo-top-left {
    height: 90px;
    top: 15px;
    left: 15px;
  }



  .descripcion {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    line-height: 1.5;
    max-width: 80%;
    margin: 0 auto;  
  }

  .icono-red {
    width: 50px;
    height: 50px;
  }

  .social-icons {
    bottom: 15px;
    right: 15px;
    gap: 16px;
  }
}
.btn-carta {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 22px;
  padding: 0 25px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  font-family: 'Cormorant Garamond', serif;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInBtn 1s ease-out 0.8s forwards;
}

.btn-carta:hover {
  background-color: #ffffff;
}

.btn-carta:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .btn-carta {
    min-width: 120px;
    padding: 0 20px;
    font-size: 1.7rem;
    line-height: 45px;
  }
}

@keyframes fadeInBtn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInOverlay {
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    animation: fadeInOverlay 1.2s ease-out 0.3s forwards;
  }
}
@keyframes fadeInBtn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInIcons {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


